name: check/pr

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]
    branches: [staging]

jobs:
  check-pr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Run check-pr
      uses: unikraft-cloud/x/.github/actions/check-pr@prod-staging
