name: buildenvs/myself-full

on:
  release:
    types: [released]

jobs:
  myself-full-push:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build OCI image
        uses: docker/build-push-action@v6
        with:
          push: false
          file: ./buildenvs/myself.Dockerfile
          tags: ghcr.io/vizvasanlya/unikctl/myself-full:latest
          target: kraftkit-full
          platforms: linux/amd64
          secrets: |
            GIT_AUTH_TOKEN=${{ secrets.GITHUB_TOKEN }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          outputs: type=docker,dest=/tmp/myself.tar

      - name: Upload Docker image artifact
        uses: actions/upload-artifact@v6
        with:
          name: oci-images
          path: /tmp/myself.tar

      - name: Push OCI Image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ghcr.io/vizvasanlya/unikctl/myself-full:latest
          target: kraftkit-full
          platforms: linux/amd64
          file: ./buildenvs/myself.Dockerfile
          secrets: |
            GIT_AUTH_TOKEN=${{ secrets.GITHUB_TOKEN }}
